body {
  background-color: #3a4a58;
  color: #918f8f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding: 15px;
  margin: 0;
  width: 50%;
  margin-left: 10%;
  letter-spacing: 1px;
  margin-left: 25%;
}

.tm-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.tm-main-content {
  background-color: #ffffff;
}

#tm-intro-img {
  background-image: url(../img/chilling-cafe-01.jpg);
  background-position: center;
  background-size: cover;
  min-height: 425px;
}

.tm-text-white {
  color: white;
}

.tm-page-header-container {
  text-align: center;
}

.tm-page-header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 400;
}

.tm-page-icon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}

.tm-section-header {
  color: #383837;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 10px 15px;
  color: black;
}

.tm-text-left {
  color: black;
  text-align: left;
}

th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
}

tr:nth-child(odd) {
  background-color: #e5e8ed;
}

tr.tm-tr-header {
  background-color: #c4cdd6;
  height: 50px;
}

.tm-section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.tm-section-small {
  color: black;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}

.tm-mb-0 {
  margin-bottom: 0;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}
figcaption {
  text-align: center;
}

figcaption span {
  display: block;
  color: #333333;
  font-size: 18px;
}

.tm-item-name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tm-special-items {
  display: flex;

  margin-left: -15px;
  margin-right: -15px;
}

.tm-special-item {
  padding-left: 0px;
  padding-right: 15px;
}

.tm-social-icons {
  text-align: center;
  margin-top: 30px;
}

.tm-social-icons i {
  font-size: 1.2rem;
}
.tm-social-link-container {
  display: inline-block;
}

.tm-social-link {
  color: white;
  background-color: #c5ced8;
  border-radius: 2px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.tm-social-link:hover {
  background-color: #808e9e;
}

.tm-contact-link {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

a {
  transition: all 0.3s ease;
}
.tm-contact-link:hover {
  color: #808e9e;
}

.tm-footer-text {
  font-size: 0.9rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.tm-footer-link {
  color: #fff;
  text-decoration: none;
}

.tm-footer-link:hover {
  color: #c5ced8;
}

@media (max-width: 550px) {
  .tm-special-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .tm-special-items {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 480px) {
  .tm-special-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .tm-special-items {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (max-width: 430px) {
  .tm-responsive-table {
    overflow-x: auto;
  }
  table {
    width: auto;
  }
  .tm-special-items {
    flex-direction: column;
  }
  .tm-special-item {
    margin-bottom: 40px;
  }
  figcaption p {
    margin-bottom: 0;
    line-height: 1;
  }
}

/* Style the links inside the navigation bar */
.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #808e9e;

  position: sticky; /* to make nav bar scroll */
  top: 0;
}

.topnav a {
  float: left;
  color: rgb(10, 15, 22);
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(175, 175, 175);
  color: black;
}

.label {
  font-weight: lighter;
  font-size: 1.2em;
  margin-bottom: 7px;
}
.all_form {
  color: white;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.inputs {
  display: flex;
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(0, 0%, 100%, 0.137);
  border: 1px solid rgb(153, 156, 118);
  outline: none;
  border-radius: 500px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}
.h1_signup {
  text-align: center;
}
.login_button {
  padding: 0.05px 1px;
  width: 100%;
  border-radius: 450px;
  background-color: hsla(0, 27%, 85%, 0.1);
  border: 1px solid rgb(8, 1, 1);
  outline: none;
  font-size: 1.5em;
  color: rgb(134, 139, 114);
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}
.p_signup {
  text-align: center;
  font-size: 20px;
}
.radio {
  font-size: 20px;
}
.login_button:hover {
  background-color: #c2bfbf;
}
.inputs:hover {
  background-color: #c2bfbf;
}
.checkbox {
  cursor: pointer;
}
.black {
  color: black;
}
.center {
  text-align: center;
}
.inputs1 {
  display: flex;
  font-size: 1.2em;
  padding: 0.1em 0.25em;
  background-color: hsla(0, 0%, 100%, 0.137);
  border: 1px solid rgb(153, 156, 118);
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}

.white {
  color: #ffffff;
}
.coffe_mates {
  margin-top: 10px;
  margin-bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.white-center {
  text-align: center;
  color: #c4cdd6;
}
.coffe_makers {
  width: 20%;
}
.coffe_makers_link {
  color: #9e300f;
  text-decoration: none;
}
.background_white {
  background-color: #3a4a58;
}
.icon {
  width: 8%;
}
.accordion {
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #808e9e;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.panel {
  overflow: hidden;
  overflow-y: scroll;
  background-color: #808e9e;

  padding: 0 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(175, 188, 204, 0.829);
}
.panel a {
  float: left;
  color: rgb(10, 15, 22);
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

/* Change the color of links on hover */
.panel a:hover,
.accordion:hover {
  background-color: rgb(238, 238, 238);
  color: rgb(36, 52, 73);
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #3a4a58;
}
.dark-mode {
  background-color: rgb(73, 73, 73);
}
.background-img {
  background-color: white;
  position: fixed;
  top: 99%;
  /*   -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); */
  transform: translateY(-100%);
  width: 3%;
  border-radius: 110px;
  margin-left: 74.8%;
}
.form {
  border: 1px solid #c2bfbf;
}
